* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 1200px;
    max-width: 1920px;
    font-family: sans-serif !important;
}

html { scroll-behavior: smooth; }

.b-creative-logo {
    width: 15%;
    height: 110px;
    margin-left: 17%;
    margin-right: 10%;
}

.b-creative-logo:hover {
    cursor: pointer;
}

.search-tag1 {
    position: relative;
    font-size: 23px;
    color: black;
    margin-right: 0.5%;
    bottom: 37px;
    text-decoration: none;

}

.search-tag1:hover {
    color: orange;
}

.text-danger1 {
    position: relative;
    font-size: 40px;
    margin-left: 40px;
    top: -30px;
}

.text-danger1:hover {
    color: orange;
}

.a1 {
    color: black;
}

.Header-picture {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 900px;
    text-align: center;
    background-image: url('2.\ BANNER/banner-1920x900px.jpg');
}

.color-overlay {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, red, orange);
    opacity: .4;
    position: absolute;
    animation: pozadina;
    animation-duration: 5s;
    animation-timing-function: linear;
}

@keyframes pozadina {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.4;
    }
}


.Header-text {
    z-index: 1;
    animation: text 3s linear;
}

.top {
    z-index: 1;
    margin-bottom: 50px;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    font-size: 50px;
}

.mid {
    z-index: 1;
    font-family: sans-serif;
    font-size: 120px;
    color: white;
    font-weight: bold;
}

.bot {
    z-index: 1;
    font-family: sans-serif;
    background-color: black;
    color: white;
    border-radius: 50px 50px 50px 50px;
    height: 60px;
    width: 25%;
    margin-top: 50px;
    font-size: 20px;
}

.bot:hover {
    cursor: pointer;
}

@keyframes text {
    0% {
        transform: translateY(-200px) scaleY(0.8);
        opacity: 0;
    }

    5% {
        opacity: .4;
    }

    20% {
        opacity: .7
    }

    60% {
        opacity: 1;
    }

    100% {
        transform: translateY(0px) scaleY(1);
        opacity: 1;
    }
}

.o-nama {
    text-align: center;
    margin-top: 130px;
}

.o-nama-naslov {
    text-align: center;
    font-family: Arial;
    letter-spacing: 0.1em;
}

.o-nama-podvuceno {
    position: relative;
    width: 8%;
    height: 6px;
    border-radius: 1px;
    margin: auto;
    margin-top: 25px;
    background-image: linear-gradient(to right, red, orange);
    border: none;
    margin-bottom: 40px;
}

.lorem-o-nama {
    text-align: center;
    font: 15px Verdana;
    margin-bottom: 130px;
}

.container-ikonice {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    text-align: center;
    height: 350px;
}

.text-danger2 {
    margin-top: 30px;
    font-size: 65px;
}

.text-danger3 {

    font-size: 65px;
    margin-right: 18rem;
    height: 100px;
    width: 100px;
    margin-top: 30px;
    margin-left: 15px;

}

.text-danger4 {
    margin-top: 30px;
    font-size: 65px;
}

.icon1 {
    position: absolute;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: solid black 1px;
    margin-top: -45px;
    margin-right: 46rem;
}

.icon2 {
    position: absolute;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: solid black 1px;
    margin-top: -44px;
    margin-right: 10px;
}

.icon3 {
    position: absolute;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: solid black 1px;
    margin-top: -50px;
    margin-left: 45.5rem;
}

.icon-text1 {
    margin-left: -10px;
    margin-top: 80px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.icon-text2 {
    margin-top: 40px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.icon-text3 {
    margin-right: 5px;
    margin-top: 80px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.icon1:hover {
    background-color: orange;
    color: white;
    border-color: orange;
}

.icon1:hover>.icon-text1 {
    color: orange;
}

.icon1:hover>.underline-ikonice {
    background-image: linear-gradient(to right, red, orange);
    border: none;
}

.icon1:hover>.lorem {
    color: black;
}

.icon2:hover {
    background-color: orange;
    color: white;
    border-color: orange;
}

.icon2:hover>.icon-text2 {
    color: orange;
}

.icon2:hover>.underline-ikonice {
    background-image: linear-gradient(to right, red, orange);
    border: none;
}

.icon2:hover>.lorem {
    color: black;
}

.icon3:hover {
    background-color: orange;
    color: white;
    border-color: orange;
}

.icon3:hover>.icon-text3 {
    color: orange;
}

.icon3:hover>.underline-ikonice {
    background-image: linear-gradient(to right, red, orange);
    border: none;
}

.icon3:hover>.lorem {
    color: black;
}


.underline-ikonice {
    margin-left: 25px;
    margin-bottom: 20px;
    width: 60%;
    height: 3px;
    background-color: black;
}

.lorem {
    width: 300px;
    height: 50px;
    margin-left: -80px;
}

.naslov-portfolio {
    text-align: center;
    align-items: center;
}

.naslov {
    letter-spacing: 3px;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.underline-naslov {
    width: 10%;
    margin: auto;
    height: 5px;
    background-image: linear-gradient(to right, red, orange);
    border: none;

}

.prvi {
    margin-top: 30px;
    width: 150px;
    height: 45px;
    border-color: lightgray;
    background-color: white;
    color: black;
    margin-bottom: 70px;
    border-style: solid;
}

.drugi {
    margin-top: 30px;
    width: 150px;
    height: 45px;
    border-color: lightgray;
    background-color: white;
    color: black;
    margin-bottom: 70px;
    margin-left: 40px;
    margin-right: 40px;
    border-style: solid;
}

.treci {
    margin-top: 30px;
    width: 150px;
    height: 45px;
    border-color: lightgray;
    background-color: white;
    color: black;
    margin-bottom: 70px;
    margin-right: 40px;
    border-style: solid;
}

.cetvrti {
    margin-top: 30px;
    width: 150px;
    height: 45px;
    border-color: lightgray;
    background-color: white;
    color: black;
    margin-bottom: 70px;
    border-style: solid;
}

.prvi:hover {
    border-color: orange;
    background-color: orange;
    color: white;
    cursor: pointer;
}

.drugi:hover {
    border-color: orange;
    background-color: orange;
    color: white;
    cursor: pointer;
}

.treci:hover {
    border-color: orange;
    background-color: orange;
    color: white;
    cursor: pointer;
}

.cetvrti:hover {
    border-color: orange;
    background-color: orange;
    color: white;
    cursor: pointer;
}

.image1 {
    position: relative;
    width: 480px;
}

.image2 {
    position: relative;
    margin-left: 480px;
    margin-top: -675px;
    width: 480px;
}

.image3 {
    position: relative;
    margin-top: -340px;
    margin-left: 960px;
}

.image4 {
    position: relative;
    margin-left: 480px;
    margin-top: -4px;
    width: 480px;
}

.image5 {
    position: relative;
    margin-left: 960px;
    margin-top: -684px;
    width: 480px;
}

.image6 {
    position: relative;
    margin-top: -345px;
    width: 480px;
}

.image7 {
    position: relative;
    margin-left: 1440px;
    margin-top: -683px;
    width: 463px;
}

.image8 {
    position: relative;
    margin-top: -4px;
    margin-left: 1440px;
    width: 463px;
}

.image__img3{
    width: 943px;
}

.image__img7{
    width: 461px;
}

.image__img8{
    width: 463px;
}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, red, orange);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 0.5;
}

.image__overlay:hover>* {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}

.container {
    position: relative;
    width: 50%;
}

.container-counter {
    background-color: #ef5821;
    width: 100%;
    height: 250px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
    margin-top: -5px;
}

.counter {
    color: white;
}

.counter1 {
    color: white;
    margin-left: 190px;
    margin-right: 190px;
}

.counter2 {
    color: white;

}

.counter3 {
    color: white;
    margin-left: 190px;
}

.container-counter-text {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    margin-top: 110px;
    text-align: center;
}

.donji-prvi {
    position: absolute;
    margin-right: 1800px;
}

.donji-drugi {
    position: absolute;
    margin-right: 1215px;
}

.donji-treci {
    position: absolute;
    margin-right: 625px;
}

.donji-cetvrti {
    position: absolute;
    margin-right: 70px;
}

.blog-section {
    margin-top: 100px;
    margin-bottom: 150px;
    font-family: sans-serif;
}

.blog-section>.section-title {
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 3px;
    font-size: 30px;
}

.blog-section>.title-underline {
    width: 150px;
    height: 5px;
    margin: auto;
    background: linear-gradient(90deg, rgba(241, 90, 35, 1) 0%, rgba(250, 169, 18, 1) 100%);
}

.blog-section>.section-info {
    width: 800px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
}

.blog-section>.section-img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 70px;
    margin-top: 30px;
}

.blog-section>.section-img-container .img-container {
    position: relative;
    width: 330px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 480px;
}

.blog-section>.section-img-container .first-img {
    background-image: url(5.BLOG/starbucks.jpg);
}

.blog-section>.section-img-container .second-img {
    background-image: url(5.BLOG/pride.jpg);
}

.blog-section>.section-img-container .third-img {
    background-image: url(5.BLOG/finansije.jpg);
}

.date-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    padding-top: 20px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: rgba(241, 90, 35, 1);
    margin-top: 8px;
}

.section-img-container {
    margin-top: 25px;
}

.title-link-contianer {
    text-align: center;
    margin-top: 25px;
}

.title-link-contianer>h3 {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

.title-link-contianer>h4 {
    font-size: 12px;
    letter-spacing: 2px;
    color: silver;
}

.title-link-contianer>a {
    font-size: 11px;
    letter-spacing: 1px;
    color: rgba(241, 90, 35, 1);
    text-decoration: none;
}

.title-link-contianer>a>.arrow {
    width: 10px;
    height: 1px;
    background-color: rgba(241, 90, 35, 1);
    display: inline-block;
    margin-bottom: 2px;
    position: relative;
}

.title-link-contianer>a>.arrow::after {
    content: "";
    width: 5px;
    height: 5px;
    border: 1px solid rgba(241, 90, 35, 1);
    border-left: none;
    border-bottom: none;
    transform: rotateZ(45deg);
    position: absolute;
    top: -2.3px;
    left: 3px;
}

.container-nas-tim {
    background-color: #ffe3d8;
    font-family: sans-serif;
}

.nista {
    height: 120px;
}

.section-title2 {
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 30px;
}

.title-underline1 {
    width: 150px;
    height: 5px;
    margin: auto;
    background: linear-gradient(90deg, rgba(241, 90, 35, 1) 0%, rgba(250, 169, 18, 1) 100%);
}

.container-slike1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 70px;
    margin-top: 100px;

}

.member__img1 {
    position: relative;
    width: 330px;
    height: 400px;
}

.member__img2 {
    position: relative;
    width: 330px;
    height: 400px;

}

.member__img3 {
    position: relative;
    width: 330px;
    height: 400px;
    background-color: grey;
}

.member1 {
    position: relative;
    width: 330px;
    display: block;
}

.member2 {
    position: relative;
    width: 330px;
    display: block;

}

.member3 {
    position: relative;
    width: 330px;
    display: block;
}

.member-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, red, orange);
    color: white;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    opacity: 0;
    transition: opacity 0.25s;
}

.member-overlay>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.member-overlay:hover {
    opacity: 0.65;
}

.member-overlay:hover>* {
    transform: translateY(0);
}

.member-title {
    font-size: 2em;
    font-weight: bold;
}

.member__description {
    text-align: center;
    font-size: 1.25em;
    margin-top: 0.25em;
}

.text-danger12 {
    margin-left: 15px;
    margin-bottom: 30px;
}

.text-danger13 {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}

.text-danger14{
    margin-right: 15px;
    margin-bottom: 30px;
}

.text-danger15{
    margin-bottom: 30px;
}

.text-danger12:hover {
    color: black;
}

.text-danger13:hover {
    color: black;
}

.text-danger14:hover {
    color: black;
}

.text-danger15:hover {
    color: black;
}

.ime-underline{
    width: 45px;
    background-color: #ffffff;
    border: solid white 1px;
    height: 1.5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.lorem-member{
    text-align: center;
    font-size: 13px;
    font-family: sans-serif
}

.donje-nista {
    height: 150px;
}

.kontaktirajte-nas {
    font-family: sans-serif;
}

.razmak {
    height: 120px;
}

.naslov-kontaktirajte-nas {
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 30px;
}

.podvuceno {
    width: 150px;
    height: 5px;
    margin: auto;
    background: linear-gradient(90deg, rgba(241, 90, 35, 1) 0%, rgba(250, 169, 18, 1) 100%);
}

.forma {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 120px;

}

.ime::placeholder {
    color: black;
}

.ime {
    width: 700px;
    height: 45px;
    border: solid black 1px;
    margin-bottom: 35px;
    padding-left: 25px;
}

.poruka {
    font-family: sans-serif;
    width: 700px;
    height: 200px;
    margin-bottom: 35px;
    padding-left: 25px;
}

.dugmence {
    background-color: white;
    width: 160px;
    height: 40px;
    border: solid black 1px;
}

.dugmence:hover {
    cursor: pointer;
}

.ikonice-kontaktirajte-nas {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 70px;
    position: relative;

}

.info1 {
    text-align: left;
}

.info2 {
    text-align: left;
    align-items: center;

}

.info3 {
    text-align: left;
}

.text-danger5 {
    position: absolute;
    text-align: center;
    font-size: 30px;
    margin-top:30px;
}

.text-danger6 {
    position: absolute;
    text-align: center;
    font-size: 30px;
    margin-top: 60px;

}

.text-danger7 {
    position: absolute;
    text-align: center;
    font-size: 30px;
    margin-top: -5px;
}


.adress-info {
    display: inline-block;
    margin-left: 100px;
    font-size: 12px;
    margin-top: 20px;
}


.mail-info {
    position: relative;
    display: inline-block;
    margin-left: 100px;
    font-size: 12px;
    margin-bottom: 60px;
    margin-top: 50px;
}


.tel-info {
    display: inline-block;
    margin-left: 100px;
    font-size: 12px;
    margin-top: -15px;
}

.circle {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    margin-left: -20px;
}

.info1-circle {
    position: absolute;
    height: 60px;
    width: 60px;
    border: solid black 1px;
    border-radius: 50%;
    margin-bottom: 293px;
    margin-left: 4px;
}

.info2-circle {
    position: absolute;
    height: 60px;
    width: 60px;
    border: solid black 1px;
    border-radius: 50%;
    margin-bottom: 520px;
    margin-left: 4px;
}

.info3-circle {
    position: absolute;
    height: 60px;
    width: 60px;
    border: solid black 1px;
    border-radius: 50%;
    margin-bottom: 762px
}

.container-bottom {
    background-color: #212121;
    color: white;
    font-family: sans-serif;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;

}

.final1 {
    margin-top: 60px;
}

.final-headers {
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 270px;

}

.header1 {
    margin-bottom: 25px;
}

.header1:hover {
    color: orange;
    cursor: pointer;
}

.final-title {
    letter-spacing: 1px;

}

.final-title:hover {
    color: orange;
    cursor: pointer;
}

.subscription {
    margin-top: 60px;
}

.final-logo {
    width: 125px;
    height: 70px;
    background-color: #212121;
    margin-left: -10px;
}

.final-logo:hover {
    cursor: pointer;
}

.lorem333 {
    font-size: 12px;
}

.sub-text {
    margin-bottom: 25px;
    letter-spacing: 1px;
}

.sub-text:hover {
    color: orange;
    cursor: pointer;
}

.sub-input {
    width: 440px;
    height: 30px;
    border: solid white 2px;
    color: white;
    background-color: #212121;
    margin-bottom: 25px;
}

.sub-input::placeholder {
    color: white;
    opacity: 1;
    font-size: 12px;
    letter-spacing: 1px;
}

.sub-button {
    height: 35px;
    width: 155px;
    border: solid #212121 1px;
    background-color: #212121;
    color: white;
    font-size: 12px;
}

.sub-button:hover {
    background-color: white;
    color: black;
    border: solid white 1px;
    cursor: pointer;
}

.copyright {
    background-color: black;
    height: 100px;

}

.cr-text {
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    padding-top: 30px;
    padding-left: 335px;
}

.cr-icons {
    margin-top: -10px;
    margin-right: 350px;
}

.cr-icons:hover {
    color: orange;
    cursor: pointer;
}

.text-danger10:hover {
    color: orange;
}

.text-danger11:hover {
    color: orange;
}

.text-danger9:hover {
    color: orange;
}


.text-danger8:hover {
    color: orange;
}


.text-danger8 {
    color: white;
    float: right;
    margin-left: 50px;
}

.text-danger9 {
    color: white;
    float: right;
    margin-left: 50px;
}

.text-danger10 {
    color: white;
    float: right;
    margin-left: 50px;
}

.text-danger11 {
    color: white;
    float: right;
    margin-left: 50px;
}

.bottom-tag{
    text-decoration: none;
    color: white;
}